@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Shippori+Antique&family=Source+Sans+Pro:wght@400&display=swap");
:root {
  --primary-color: #000000;
  --secondary-color: #564d4d;
}

body {
  background-color: var(--primary-color);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
header {
  padding: 1rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  overflow: hidden;
  background-color: var(--secondary-color);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #ffffff;
  font-family: inherit;
}
.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}
.search::placeholder {
  color: #d8cdcd;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 20%;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0.2px 4px 5px #d8cdcd;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}
.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  letter-spacing: 0.1rem;
}
.movie-info h2 {
  margin-top: 0;
}
.movie-info span {
  background-color: var(--primary-color);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-weight: bolder;
}
.movie-info span.green {
  color: green;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.5s ease-in-out;
}
.overview h2 {
  font-weight: bolder;
}
.movie:hover .overview {
  transform: translateY(0);
}
.movie img {
  width: 100%;
}
.netflix {
  width: 150px;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: flex-start;
}
